---
layout: default
title: Open Horizon Labs &gt; home
section_id: home

milestones:
  - from: 0
    to: 2
    title: In-house projects in progress
  - from: 0
    to: 18
    title: Cups of <a target="_blank" href="http://www.artiscoffee.com/">Artis</a> coffee per week
  - from: 0
    to: 14
    title: Average git commits per day
  - from: 0
    to: 3
    title: Statistical dashboards in office

---

{% include slider.html %}

<div class="full dark-blue no-padding">
  <div class="two spacing"></div>
  <div class="row">
    <div class="call-to-action light">
      <div class="medium-12 large-12 columns centered-text">
        <p>Open Horizon Labs is a contracting company tackling difficult software problems.</p>
      </div>
    </div>
  </div>
  <div class="two spacing"></div>
</div>

<div class="full">
  <div class="row">
    <div class="special-title centered-text">
      <i class="icon-star"></i>
      <h2>Portfolio</h2>
      <p>Our featured work thus far.</p>
      <p class="shortline"></p>
    </div>
  </div>
</div>

<ul class="gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  {% for work in site.data.portfolio.items limit:8 %}
    <li>
      <a style="cursor:default;">
        <img src="{{site.url}}/images/{{ work.small-image }}">
        <div class="overlay">
          <div class="thumb-info">
            <h3>{{ work.title }}</h3>
            <p>{{ work.category }}</p>
          </div>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>

{% include services.html %}

<div class="full milestones">
  <div class="row">
    {% for milestone in page.milestones %}
      <div class="medium-3 large-3 columns">
        <div class="milestone boxed light">
          <strong data-from="{{milestone.from}}" data-to="{{milestone.to}}"></strong>
          <span>{{milestone.title}}</span>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% include about.html %}

{% include testimonials.html bg="meeting" %}

{% include clients.html %}

{% include get-in-touch.html %}
