<div class="full">
  <div class="row">
    <div class="large-10 small-centered columns">
      <div class="special-title centered-text">
        <i class="icon-mail"></i>
        <h2>Get In touch with us</h2>
        <p>We would love to hear from you! Drop us a line or stop by the office.</p>
        <div class="row">
          <div class="medium-4 large-4 columns">
            <p class="contact">
              <h3>Email</h3>
              <a href="mailto:team@openhorizonlabs.com">team@openhorizonlabs.com</a>
            </p>
          </div>
          <div class="medium-4 large-4 columns">
            <p class="contact">
              <h3>Phone</h3>
              (559)-464-5526
            </p>
          </div>
          <div class="medium-4 large-4 columns">
            <p class="address">
              <h3>Address</h3>
              950 Gilman St., Berkeley, CA 94710
            </p>
          </div>
        </div>
        <p>Or fill out and submit the form below.</p>
      </div>
    </div>
  </div>
</div>
<div class="full dark-blue">
  <div class="form">
    <div class="row">
      <form action="//api.formspree.com/team@openhorizonlabs.com" method="post" class="send-with-ajax">
        <div class="medium-6 large-6 columns">
          <input placeholder="NAME" type="text" name="name" id="form-name">
          <input placeholder="EMAIL" type="text" name="email" id="form-email">
        </div>
        <div class="medium-6 large-6 columns">
          <textarea placeholder="MESSAGE" name="message" id="form-message"></textarea>
          <input class="button white" type="submit">
        </div>
      </form>
    </div>
  </div>
</div>
